.keywords {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 15px 12px;
  margin-bottom: 20px;
  padding: 0 28px;
}

.tag-container {
  display: flex;
  gap: 6px;
  margin-top: -3px;
  flex-wrap: wrap;
  justify-content: center;
}

.tag-box {
  background-color: #FFFFFF;
  border: 1px solid #AAAE32;
  border-radius: 17.88px;
  padding: 2px 6px;
  font-size: 10px;
  font-family: 'Pretend_M';
  color: #AAAE32;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;  
}

.my-box {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #F5E1E3;
  border-radius: 0px 0px 16px 16px;
  background-image: linear-gradient(to bottom, #F5E1E3 90%, #FFFDF7 100%);
  border: none;
  width: 331px;
  height: 50px;
  display: flex;
  align-items: center;
}

.box-top-1 {
  top: 420px;
}

.box-top-2 {
  top: 500px;
}

.my-text {
  color: #000000;
  margin-left: 20px;
  font-size: 15px;
  font-family: 'Pretend_M';
}

.my-button {
  position: absolute;
  top: 0px;
  left: 280px;
  border-radius: 10px;
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.my-button img {
  width: 18px;
  height: 20px;
  object-fit: contain;
}

.my-info-box {
  width: 325px;
  height: 137px;
  background-color: #F6EFF0;
  background-image: linear-gradient(to bottom, #F6EFF0 90%, #FFFDF7 100%);
  position: absolute;
  left: 50%;
  top: 420px;
  border-style: solid;
  border-width: 15px;
  border-color: transparent;
  transform: translateX(-50%);
  box-sizing: border-box;
  padding: 10px;
}

.my-info-button {
  color: #000000;
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
  left: 10px;
  top: 10px;
  font-size: 16px;
}

