.keywords {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 15px 12px;
  margin-bottom: 20px;
  padding: 0 28px;
}

.tag-container {
  display: flex;
  gap: 6px;
  margin-top: -3px;
  flex-wrap: wrap;
  justify-content: center;
}

.tag-box {
  background-color: #FFFFFF;
  border: 1px solid #B5C9E4;
  border-radius: 17.88px;
  padding: 2px 6px;
  font-size: 10px;
  font-family: 'Pretend_M';
  color: #4B75AD;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;  
}

.my-box {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #B5C9E4;
  border-radius: 0px 0px 16px 16px;
  background-image: linear-gradient(to bottom, #B5C9E4 90%, #FFFDF7 100%);
  border: none;
  width: 331px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-top-1 {
  top: 360px;
}

.box-top-2 {
  top: 440px;
}

.my-text {
  color: #000000;
  margin-left: 20px;
  font-size: 15px;
  font-family: 'Pretend_M';
}

.my-button {
  position: absolute;
  top: 0px;
  left: 280px;
  border-radius: 10px;
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.my-button img {
  width: 18px;
  height: 20px;
  object-fit: contain;
}

.my-info-box {
  /* width: 325px;
  height: 137px;
  background-color: #F6EFF0;
  background-image: linear-gradient(to bottom, #F6EFF0 90%, #FFFDF7 100%);
  position: absolute;
  left: 50%;
  top: 420px;
  border-style: solid;
  border-width: 15px;
  border-color: transparent;
  transform: translateX(-50%);
  box-sizing: border-box;
  padding: 10px; */
  background-color: #EDF5FF;
  background-image: linear-gradient(to bottom, #EDF5FF 90%, #FFFDF7 100%);
  border-radius: 10px;
  padding: 10px;
}

.my-info-button {
  /* color: #000000;
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
  left: 10px;
  top: 10px;
  font-size: 16px; */
  background-color: transparent;
  border: none;
  font-family: Pretend_M;
  font-size: 14px;
  color: black;
  margin: 5px 0;
  text-align: left;
  cursor: pointer;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal {
  background-color: #fff;
  padding: 24px;
  border-radius: 20px;
  width: 268px;
  height: 160px;
  text-align: center;
}

.modalText {
  font-size: 19pt;
  font-family: 'Pretendard-Regular', sans-serif;
  margin-bottom: 40px;
  white-space: pre-line;
}

.modalLine {
  height: 0.5px;
  width:300px;
  background-color: #EDF5FF;
  margin: 10px 0;
}

.modalBtn {
  font-size: 20.61pt;
  font-family: 'Pretendard-Regular', sans-serif;
  color: #000;
  background: transparent;
  border: none;
  cursor: pointer;
}

